livekit-agents[deepgram,openai,cartesia,silero,turn-detector]~=1.2
livekit-plugins-noise-cancellation~=0.2
python-dotenv
fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-dotenv
pydantic-settings
httpx
pydantic[email]